<div class="search-bar">

  <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  </div> -->

 

  <div class="search_box_wrapper">
    <div class="search_box_item">
      <div class="search_box">
        <input  id="searchInput" type="text" class="input_search" placeholder="Enter Image name" autocomplete="off">
        <span class="icon">
          <img src="https://www.svgrepo.com/show/104930/search.svg"></img>
        </span>
      </div>
      <button id="searchBtn">Search</button>
    </div>
  </div>

  <div class="btn-group">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off"  checked/>
    <label class="btn btn-secondary" for="option1">Infinity scroll</label>
  
    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"/>
    <label class="btn btn-secondary" for="option2">Button "Load more"</label>
  </div>

</div>

<div class="gallery">
</div>
<button class="loadMore invisible" id="loadMore">Load More</button>
<p class="error400 invisible" >That's all photos that I can show</p>

