
.btn-group {
    margin-left:auto;
    display: none;
    @media screen and (min-width: 600px){
        display: block; }
}
.btn {
    background-color: gray;
    height: 40px;
}
.btn-check:checked + .btn{
    background-color: green;
}

