@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '../common';



.search_box_wrapper {
  max-width: 500px;
}

.search_box_wrapper .search_box_item{
    position: relative;
    height: 50px;
    //width: 500px;
    //max-width: 100%;
  }
  
   .search_box_wrapper .search_box_item .search_box{
    height: 50px;
  }
  
  .search_box_wrapper .search_box_item .input_search{
    background: var(--search-bg-clr);
    border: 0;
    border-radius: 25px;
    color: #fff;
    max-width: 100%;
    height: 100%;
  }
  
  .search_box_wrapper .search_box_item .icon{
    position: absolute;
    
    
    color: var(--white);
    font-size: 18px; 
    display: flex;
    
    width: 25px;
    left: 83%;
    top: 25%;
    z-index: 1;
    //right: 30px;
    pointer-events: none;

    @media screen and (min-width: 650px){
      left: 85%; }

    @media screen and (min-width: 800px){
      top: 7px;
      width: 40px;
      left: 20px;
      right: 0px;
     }

   }
  
  .search_box_wrapper .search_box_item button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    border-radius: 25px;
    border: 0;
    display: block;
    background: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    color:transparent;
    right: 0;

    @media screen and (min-width: 800px){
      width: 150px;
      color: black;

     }
  }
  
  // 🔎
  // 🔍

  .search_box_wrapper .search_box_item button:hover{
    background: green;
  }
  

  .search_box_wrapper .search_box_item .input_search{

    padding: 15px 0px 15px 20px;
    
    @media screen and (min-width: 650px){
      padding: 15px 20px 15px 40px;  }

    @media screen and (min-width: 800px){
      padding: 15px 150px 15px 75px;  }
    
  }
  .search_box_wrapper .search_box_item .input_search::placeholder{
    color: black;
  }
  
 

  